<template>
     <section class="container">
               <header class="content_header flex">
        <h2>Распродажи</h2>

        <a href="#" class="content_header-link">
            Смотреть всё
        </a>
    </header>
               <div class="box">
                <article class="box_item" v-for="(game, id) in games" :key="id">
                    <img :src="game.img" :alt="game.name" class="box_item-img">
        
                    <div class="box_item_text">
                        <h3> {{game.name}} </h3>
                        <span class="box_item_text-price"> {{ game.price}} </span>
                    </div>
                </article>
            </div>
        </section>
</template>

<script>

export default {
  name: 'Home',

  computed:{
getGames(){
  return this.$store.getters.getGames
},

getSearch(){
    return this.$store.getters.getSearch
},

games(){
    return this.getGames.filter(item => {
        return item.name.toUpperCase().indexОf( this.getSearch.toUpperCase()) !== -1
    })
}
  },
}
</script>
<style scoped lang = "scss">
 section{
    padding: 2.76rem 0;

.content_header{
    justify-content: space-between;
    margin-bottom: 1.66rem;
}

.content_header-link{
    font-size: 1.25rem;
    color: #4825D2;
    opacity: .7;
}

h2{
    font-weight: 700;
    font-size: 2.08rem;
}

.box{
      display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
}
.box_item{
    width: 45.3rem;
    height: 20.67rem;
    position: relative;
    margin-bottom: 2.08rem;
    overflow: hidden;
}

#tow img{
    height: auto;
    top: -50%;
}

.box_item-img{
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.box_item_text{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    backdrop-filter: blur(55px);
    padding: 2.5rem .94rem 1.56rem 1.56rem;
    border-top-left-radius: 70px;
}

h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.box_item_text-price{
    font-size: 1.25rem;
}
}
</style>
